.update-note-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(((100% - 40px) / 2));
  margin-left: 40px;
  .form-title {
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .form {
    width: 100%;
    .button {
      width: 150px;
    }
  }
}
