.auth-layout {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc((100% - 1150px) / 2);
    height: 100%;
    background-color: #f1f2f7;
  }

  &:dir(ltr) {
    &::before {
      right: 0;
    }
  }

  &:dir(rtl) {
    &::before {
      left: 0;
    }
  }

  .container {
    align-items: stretch;
    min-height: 100vh;
    .main-artboard {
      background-color: #f1f2f7;
      width: 50%;
    }
    .wrapper {
      width: 50%;
      padding-top: 50px;
    }
  }
}

// breakpoints
@media screen and (min-width: 320px) and (max-width: 479px) {
  .auth-layout {
    &::before {
      display: none;
    }
    .container {
      .main-artboard {
        display: none;
      }
      .wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .auth-layout {
    &::before {
      display: none;
    }
    .container {
      .wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .auth-layout {
    &::before {
      display: none;
    }
    .container {
      .wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  .auth-layout {
    &::before {
      display: none;
    }
    .container {
      .wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
  .auth-layout {
    &::before {
      width: calc((100% - 880px) / 2);
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .auth-layout {
    &::before {
      width: calc((100% - 1000px) / 2);
    }
  }
}
